.head {
    background-color: black;
    color: white;
    text-align: center;

    p {
        margin-top: 25px;
        font-size: 10px;
        font-weight: lighter;
        letter-spacing: 6px!important;
    }
}

.license-type {
    margin-top: 55px;
    font-size: 25px;
}

.price {
    margin-top: 22px;
    font-size: 2.8em;
    font-weight: bold;
}

.per-unit {
    font-size: 12px;
    margin-top: 22px;
    font-weight: bold;
    margin-bottom: 35px;
}

.description {
    color: black;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    padding: 10px;
    p {
        margin: 30px 30px 30px 30px;
        text-align: left;
    }
    li {
        list-style: none;
        position: relative;
        margin-top: 20px;
        //line-height: 3em;
    }
    li::before {

        content: "•";
        font-size: 45px;
        position: absolute;
        left: -25px;
    }
}

.card-footer {
    background-color: black;
    p {
        color: white;
        text-align: center;
    }
    .icon {
        color: white;
    }
    .card-footer-caption {
        span {
            font-size: 0.75em;
        }
        color: white;
        letter-spacing: 3px;
        text-align: center;
        p {
            font-size: 1.2em;

            letter-spacing: normal;
            font-weight: 700;
            margin: 5px 0 5px;
        }
    }
    .button-container {
        display: grid;

    }
}

.card-footer-button {
    background: none!important;
    text-align: center;
    margin: 10px auto;
    span {
        color: white;
    }
    padding: 10px;
}
.card-footer-button:hover {
    background-color: rgba(199, 199, 199, 0.4)!important;
    border-radius: 2px;
    transition: 0.3s;
    background-size: 30px!important;
}
.card-footer-content {
    letter-spacing: normal;
    font-weight: 700;
    div {
        p {
            font-size: 1.2em;
        }
    }
}

.collapsible-trigger {
    padding: 0;
    text-align: center;
    background-color: red;

}

.card {
    border: none;
    outline: none!important;
    margin: 50px 10px!important;
    min-width: 200px!important;
    height: 100%!important;
}
.card-container {
    background-color: #212121;
    padding: 20px;
}
