header {
    height: 65px;

    nav {
        height: 100%;

        .navbar-brand {
            font-size: 1.5rem;
        }

        .navbar-nav {
            a {
                margin: 0 7px 0 7px;
                transition: .4s;
                color: white !important;

                &:hover {
                    background-color: rgba(158, 158, 158, 0.4);
                    border-radius: 2px;
                }

                &.invert {
                    border: 1px solid black;
                    color: black !important;
                    background-color: white !important;
                    border-radius: 2px;

                    &:hover {
                        color: white !important;
                        background-color: black !important;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}
