$heightForLarge: 60px;
$heightForNotLarge: 50px;

td {
    height: 50px;
    text-align: center;
    font-weight: bold;
}

tr {
}

.td-img {
    height: $heightForNotLarge;
    width: $heightForNotLarge;
    padding: 0 !important;

    .td-img-main {
        margin-left: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.cart_button {
    z-index: 9999999!important;
    font-weight: 400;
    white-space: nowrap;
    color: white;
    border: white 1px solid;
    padding: 7px;
    background: black;
    transition: .25s ease-in-out;
    margin-right: 3px;

    &:hover {
        border: black 1px solid;
        color: black;
        background: white;
    }
}

.tags {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag {
    font-size: 10px;
    font-weight: 600;
    border: 1px solid #CCCCCC;
    padding: 0 4px;
    margin: 2px;
    letter-spacing: 2px !important;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

@media screen and (min-width: 1920px) {
    .td-img {
        width: $heightForLarge;
        height: $heightForLarge;
    }
}
