.tracks-table{
    table{
        width: 90%;
        max-width: 800px;
        margin: 0 auto 20px auto;

        tr:not(:first-child){
            &:hover{
                cursor: pointer;
                background: #e0e0e0;
            }
        }


        .table-head{
            td{
                height: 30px;
                color: #8b8b8b;
                font-weight: normal;
                border: 0;
            }
        }
    }
}

