.tracks-table{
    table{
        width: 90%;
        max-width: 800px;
        margin: 0 auto 20px auto;
        tr {
            border-bottom: 1px solid #c9c9c9;
            &:not(:first-child) {
                &:hover:not(.selected_tr) {
                    cursor: pointer;
                    background: #e0e0e0;
                }
            }
            td{
                text-align: left;
                &.title{
                    padding-left: 20px;
                    padding-right: 20px;
                    min-width: 200px;
                }
                &.time{
                    min-width: 50px;
                }
                &.tags{
                    font-weight: lighter;
                }
            }
        }


        .selected_tr{
            background: #b52929;
            &:hover{
                opacity: 0.9;
                cursor: pointer;
            }
        }

        .table-head{
            td{
                height: 30px;
                color: #8b8b8b;
                font-weight: normal;
                border: 0;
            }
        }
    }
}

@media screen and (min-width: 1920px){
    #top-10-track-table{
        max-width: 1200px;
    }
}

